<div class="positions_heading">
  <h1>Job Position Timelines</h1>
  <p>This page should be rewritten to use React in the near future</p>
</div>

<button class="add_position">Add Position</button>
<% if @job_positions.blank? %>
  <h3>No Positions are present with any events. Add one!
<% else %>
  <% @job_positions.each do |position| %>
    <ul class="position_container">
      <li class="position">
        <h4>
          <% if position.job_link.blank? %>
            <%= position.title %>
          <% else %>
            <a href="<%= position.job_link %>" target="_blank"><%= position.title %></a>
          <% end %>
        </h4>
      </li>
    </ul>
  <% end %>
<% end %>